:root {
  font-size: 16px;
  --font:'Poppins', sans-serif;
  --font2: 'Oswald', sans-serif;
  --color-o: #F15A22;
  --color-o2: rgba(241, 89, 34, 0.437);
  --color-g1: #504E61;
  --color-g2: rgba(221, 221, 221, 0.355);
  --color-w: #fff;
  --color-g3: #818181;
  --black: #1C1C1C;
  font-family: 'Source Sans Pro', sans-serif;

  
}

::selection {
  color: #fff;
  background-color: var(--color-o);
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-o);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-o);
}


.over-xx {
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: var(--color-w);
}

a:hover {
  color: var(--color-w);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--color-o2);
}

.btn:focus {
  box-shadow: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< START HOME PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* <<<<< this is nav bar >>>>> */

nav {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;

}


.basic-drop-shadow {
  box-shadow: 0 0 10px;
  color: var(--color-g1);
  background-color: var(--color-w);
  padding: 0;
}

.nav-logo {
  padding: 1rem 0;
}
.navbar-brand {
  margin-right: 3rem ;
}

.nav-search {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  height: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgba(221, 221, 221, 0.267);
  padding-right: 3rem;
}

.nav-icon-search {
  border: 1px solid var(--color-o);
  background-color: var(--color-o);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--color-w);
  height: 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem
}

.nav-icon-search:hover {
  color: var(--color-w);
}

.nav-box {
  justify-content: flex-end;
}

.btn-lang {
  color: var(--color-g1);
}

.btn-lang:hover {
  color: var(--color-g1);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--color-o);
    background-color: var(--color-g2);
}

.btn-place {
  font-size: 1rem;
}

.user-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.nav-iconss {
  margin-left: 1rem;
}

.shopping ,
.bell ,
.heart {
  margin-right: 2rem;
  background-color: #ffaf6031;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-first-nav {
  font-size: 1rem;
  color: var(--color-o);
}

.counter {
  display: inline-block;
  color: var(--color-w);
  background-color: var(--black);
  border-radius: 50%;
  padding: 1px 4.5px;
  font-size: 0.5rem;
  position: absolute;
  top: -11px;
  right: 0
}


.navbar-light .navbar-toggler {
  border: none;
  box-shadow: none;
}

.pc-none {
  display: none;
}

.nav-bar-2 {
  padding-bottom: 0px;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: var(--color-g1);
}

.navbar-nav .nav-item .nav-link {
  color: var(--color-g1);
  font-size: 0.9rem;
  text-transform: capitalize;
  margin: 0.5rem;
  position: relative;
}

.navbar-nav .nav-item .nav-drop-down {
  margin: 0.5rem;
}

.navbar-nav .nav-item .nav-link::after ,
.navbar-nav .nav-item .nav-drop-down::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--color-o);
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}

.navbar-nav .nav-item .nav-link:hover ,
.drop-nav:hover {
  color: var(--color-o);
}

.navbar-nav .nav-item .nav-link:hover::after ,
.navbar-nav .nav-item .nav-drop-down:hover::after {
  visibility: visible;
  width: 100%;
}

.become-provider {
  margin-right: 2rem;
}

.provider {
  background-color: var(--black);
  color: var(--color-w) !important;
  border-radius: 25px;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.drop-nav {
  color: var(--color-g1);
  font-size: 0.9rem;
  text-transform: capitalize;
  margin: 0.5rem;
}

.navbar-nav .nav-item .nav-drop-down::after {
  bottom: 4px;
  height: 2px;
  transition: all 0.5s ease-in-out;
}

.register {
  margin-left: 2rem;
}

.btn-login ,
.btn-sign {
  background-color: var(--black);
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--color-w);
  border-radius: 25px;
  padding: 5px 0;
  width: 100px;
}

.btn-login:hover ,
.btn-sign:hover {
  background-color: var(--color-o);
  color: var(--color-w);
}


.btn-login {
  background-color: var(--color-o);
  color: var(--color-w);
}

.btn-login:hover {
  background-color: var(--black);
  color: var(--color-w);
}

.navbar-nav .nav-item .provider:hover:after ,
.navbar-nav .nav-item .btn-login-line:hover:after ,
.navbar-nav .nav-item .btn-sign-line:hover:after {
  visibility: hidden;
}

.navbar-expand-lg .navbar-nav .btn-login-line ,
.navbar-expand-lg .navbar-nav .btn-sign-line {
  padding-right: 0;
  padding-left: 0;
}
/* <<<<< end nav bar >>>>> */

/* <<<<< start slider >>>>> */
/* عدلت هنا */

.carousel-line {
  width: 100%;
  height: 3px;
  background-color: var(--color-o);
}

.swiper {
  height: 80vh;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.swiper-slide .slide-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-sliderr {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000be;
}

.heading{
  color: var(--color-w);
  font-family: 'Itim', cursive;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 9rem;
  padding-top: 5rem;
}

.heading h1 {
  font-size: calc(1rem + 3vw);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev ,
.swiper-button-prev ,
.swiper-rtl .swiper-button-next {
  color: var(--color-o);
}

.swiper-pagination {
  text-align: left;
  padding-left: 9rem;
  padding-bottom: 2rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-o) !important;
}

.apply-btn-slide {
  border: none ;
  background-color: var(--color-g1);
  color: #fff;
  padding: 17px 60px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  overflow: hidden;
  position: relative;
  overflow: hidden;

}

.apply-btn-slide span {
    color: #fff;
    position: absolute;
    z-index: 15205465;
    top: 21% !important;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 0.9rem;
    overflow: hidden;
  }

.btn-layer222 { 
    background-color: var(--color-o);
    background-position: top center;
    background-size: contain;
    Color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:0;
    position: absolute;
    z-index: 999;
    transform: translatex(-100%);
    opacity: 0;
    transition: 1s; 
    text-align: center;
    text-transform: uppercase;
}

.btn-jobs:hover .btn-layer222 {
    opacity: 1;
    z-index: 9999999;
    transform: translatex(0);
}


/* <<<<< end slider >>>>> */

/* <<<<< start events >>>>> */
.events {
  color: var(--color-g1);
  margin-bottom: 1rem;
  font-family: 'El Messiri', sans-serif;
  font-weight: 600;


}

.events-line {
  width: 100px;
  height: 3px;
  background-color: #f1592294;
  position: relative;
  overflow: hidden;
}

.dott {
  background-color: var(--color-o);
  animation: widthline 1s infinite ease-in-out;
  width: 10px;
  height: 3px;
  position: absolute;
}

@keyframes widthline {
  0%{
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.owl-carousel {
  background: linear-gradient(90deg,#e9f2fd 0%, #fbeef9 80%);

  text-align: center;
}

.owl-stage {
  margin: auto;
}

.owl-carousel-p {
  padding: 1rem 15rem 0 15rem;
}

.owl-carousel .carsouel-content {
  margin: auto;
}

.content-container {
  position: relative;
  height: 330px;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 8px;

}

.layer {
  position: absolute;
  z-index: 155;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translatex(-100%);
  transition: all 2s ease-in-out;
  background-color: RGBA(0,0,0,0.3);
  opacity: 0;
}

.content-container:hover .layer {
  opacity: 1;
  transform: translatex(0);
  transform: rotate(180deg);
}

.content-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-img img {
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
}

.content-container:hover img {
  transform: scale(1.5);
}

.content {
  position: absolute;
  bottom: 20px;
  left: 10px;
  text-align: left;
  color: #fff;
  z-index: 500;
}

.size-p {
  font-size: 1.1rem;
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: 0;
  word-wrap: break-word;
}

.size-span {
  word-wrap: break-word;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  color: var(--color-o);
  font-size: 2rem;
  margin: 0.5rem;
}

/* <<<<< end events >>>>> */

/* <<<<< start recomended for you >>>>> */

.reco-for {
  position: relative;
  height: 600px;
  overflow: hidden;
  cursor: pointer;
}

.reco-layer ,
.reco-img ,
.reco-content ,
.reco-layer3 ,
.basic-layer-reco {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
}

.reco-layer ,
.reco-img ,
.basic-layer-reco {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.reco-for:hover .basic-layer-reco {
  transition: all 1s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(0, 0, 0, 0.468));
  z-index: 200;
}

.reco-layer {
  z-index: 300;
  margin: 2rem;
  transition: all 1s ease;
}

.layer1-reco {
  width: 100%;
  width: 0; 
  height: 2px;
  background-color: var(--color-w);
  opacity: 0;
}

.reco-for:hover .layer1-reco ,
.reco-for:hover .layer4-reco{
  animation: moveline 3s alternate ease-in-out;
}

@keyframes moveline {
  0% {
       width: 0;
       opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.lines {
  height: 100%;
}

.layer2-reco ,
.layer3-reco {
  height: 100%;
  width: 2px;
  background-color: var(--color-w);
  opacity: 0;
}

.reco-for:hover .layer2-reco ,
.reco-for:hover .layer3-reco {
  animation: moveline2 3s alternate ease-in-out;
}

@keyframes moveline2 {
  0% {
       height: 0;
       opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

.layer4-reco {
  width: 100%;
  height: 2px;
  background-color: var(--color-w);
  opacity: 0;
}

.reco-img img {
  width: 100%;
  height: 100%;
}

.reco-content {
  bottom: 3.5rem;
  left: 3.5rem;
  z-index: 500;
  color: var(--color-w);
}

.fs-p {
  font-size: 1.7rem;
  font-weight: bolder;
  text-transform: capitalize;
}

.fs-span {
   font-size: 0.9rem;
   text-transform: capitalize;
   color: #fff;
}

.order {
  transform: translatey(-10px);
  position: relative;
  z-index: 54352;
}

.link {
  color: #fff;
  background-color: var(--color-g1);
  padding: 10px 15px;
  text-transform: capitalize;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}

.reco-over {
  overflow: hidden;
}

.bg-content {
  position:relative;
  background-color: var(--color-w);
  overflow: hidden;
  transition: all 1s ease-in-out;
  padding: 0.8rem;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 8px;


}

.img-box-owl {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 0.8rem;
}

.img-box-owl img {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bg-content:hover .img-box-owl img {
  transform: scale(1.5);
}


.padding-p h6 {
  font-size: 0.9rem;
  text-transform: capitalize;
  word-wrap: break-word;
}

.gray-text {
  color: rgba(16, 16, 16, 0.722);
  display: block;
  text-align: left;
  font-size: 0.8rem;
}

.grayy {
  color: var(--color-g3);
 
}

.orang {
  color: var(--color-o);
}

.price {
  display: flex;
  justify-content: end;
  /* text-align: right; */
  font-weight: bolder;
  text-transform: uppercase;

}

.egp-price {
  font-weight: bolder;
  text-transform: uppercase;
}


.bg-mosqu {
  width: 85%;
  height: 300px;
  position: relative;
  margin: auto;
  top: -40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.img-layer {
  background: linear-gradient(rgba(0, 0, 0, 0.293), rgba(0, 0, 0, 0.642));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 3rem;
  padding-left: 4rem; /*عدلت هنا*/
}

.bg-mosqu2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.bg-mosqu2 img {
  width: 100%;
  height: 100%;
}

.text-mosqu span {
  line-height: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.num-size ,
.text-size ,
.text2-size  {
  color: var(--color-w);
}

.num-size {
  font-size: 5rem;
}

.text-size {
  font-size: 2.5rem;
}

.text2-size {
  font-size: 3rem;
}

.orang-text {
  color: var(--color-o);
  font-size: 2rem;
}

.link-a {
  color: #fff;
  background-color: var(--color-g1);
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 0;
  margin-top: 4rem;
}

.link-a:hover {
  color: var(--color-w);
}

/* <<<<< end recomended for you >>>>> */
/* <<<<< start top provider >>>>> */

.top {
  background-image: url(../img/Mask\ Group\ 1.png);
  background-repeat: no-repeat;
 
}

.parent-box {
  background-color: var(--color-w);
  margin: auto;
  box-shadow: 8px 8px 10px -1px #0000002b;
  cursor: pointer;
  width: 95%;
  transform: translatex(8rem);
  border-radius: 8px;
  overflow: hidden;

}

.parent-box:hover img {
  transform: scale(1.5);
  transition: all 1s ease;
  
}

.parent-box-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.parent-box-img img {
  width: 100%;
  height: 100%;
}

.parent-box-content {
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

}

.parent-box-content h5 {
  font-size: 1.1rem;
  color: var(--black);
  font-family: 'Source Sans Pro', sans-serif;

}

.user-link {
  display: block;
  color: var(--color-g3);
  border: 1px solid var(--color-g3);
  font-size: 0.9rem;
  border-radius: 25px;
  word-wrap: break-word;
  width: 75%;
  padding: 0;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;

}

.user-link:hover {
  color: var(--color-o);
  border: 1px solid var(--color-o);
}

.border-right-a {
  border-right: 2px solid var(--color-g3);
  width: 33%;
}

.no-border {
  width: 33%;
}

.size-icon {
  font-size: 1.1rem;
}


.apply-btn {
  border: none ;
  background-color: var(--color-o);
  color: #fff;
  padding: 17px 60px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.9rem;
  overflow: hidden;
  position: relative;
  overflow: hidden;

}

.apply-btn span {
    color: #fff;
    position: absolute;
    z-index: 15205465;
    top: 21%;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 0.9rem;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
  }

.btn-layer { 
    background-image: url('../img/rose-ga5d197282_640.jpg');
    background-position: top center;
    background-size: contain;
    Color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    z-index: 999;
    transform: translatex(-100%);
    opacity: 0;
    transition: 1s; 
    text-align: center;
    text-transform: uppercase;
}

.btn-jobs:hover .apply-btn {
  font-weight: 600;
}

.btn-jobs:hover .btn-layer {
    opacity: 1;
    z-index: 9999999;
    transform: translatex(0);
}

.trans-topp {
  transform: translateY(-20px);
}

.link-aa {
  font-size: 0.8rem !important;
  border-radius: 8px;
  text-transform: capitalize;
  margin-top: 1rem;
  width: 75%;
}

.apply-btn-slide2 {
  padding-top: 15px;
  padding-bottom: 15px;
  
}

.apply-btn-slide2 span {
  top:10% !important
}

/* .fa-facebook {
  color: rgb(66, 66, 223);
}

.fa-square-instagram {
  background: linear-gradient(#9303D9,#ff0099,#ffc602);
  color: #fff;
}

.fa-square-twitter  {
  color: rgb(0, 187, 255);
} */


/* <<<<< end top provider >>>>> */

/* <<<<< start footer provider >>>>> */
footer {
   background-color: var(--black);
   color: var(--color-w);
   padding-top: 6rem;
   font-family: 'El Messiri', sans-serif;
}

.border-h {
  border-bottom: 2px solid var(--color-g3);
  display: inline-block;
  padding-bottom: 0.3rem;
}

.footer-text {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.footer-search {
  background-color: var(--color-w);
  font-size: 0.8rem;
  padding-right: 0;
  text-transform: capitalize;
}

.footer-icon-search {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-icon-search:hover {
  color: var(--color-w);
}


.pay img {
  width: 50px;
  height: 30px;
  margin-left: 0.5rem;
}
/* <<<<<<<end footer >>>>>>>>*/

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END HOME PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< START WEDDING PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.wedding {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.348)),url('../img/wedding-g40cbdca04_1920.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 2rem;
  color: var(--color-w);
  text-transform: capitalize;
}

.wedding h4 {
  font-family: 'Itim', cursive;
}

.color-gray {
  color: #ddd;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;

}

.wedding-bg {
  background-image: url('../img/wedding-rings-gc16d0eafc_1920.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.weding-box {
  width: 80%;
  height: 260px;
  margin: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px;
}

.weding-box-img {
  width: 100%;
  height: 100%;
}

.weding-box-img img {
  width: 100%;
  height: 100%;
}

.weding-box:hover .weding-box-img img {
  transform: scale(1.5);
  transition: all 1s ease-in-out;
}

.position-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.327);
  color: var(--color-w);
  text-align: center;
}

.text-ring {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-o);
  display: block;
  width: 100%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< End WEDDING PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< START services selection page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.bg-filter {
  background: linear-gradient(90deg,#e9f2fd 0%, #fbeef9 80%);
  padding-top: 5rem;
  padding-bottom: 3rem;

}  


.font-mob {
  font-family: 'El Messiri', sans-serif;
  font-weight: bolder;
}

.filter-btn {
  padding-left: 0.6rem 0.3rem;
  /* border: 1px solid red; */
  text-align: center;
  width: 120px;
  text-transform: capitalize;
  font-size: 1rem;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 12px;
}

.fiter-btn ,
.drop-filter ,
.sub-filter  {
  font-family: var(--font);
}

.drop-filter {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  background-color: #fff;
  /* height: 50px; */
  padding-top: 4px;
  padding-bottom: 4px;
  
}

/* ::-webkit-datetime-edit { padding: 0.; } */
::-webkit-datetime-edit-fields-wrapper { background: transparent; }
::-webkit-datetime-edit-text { color: var(--color-g1)}
::-webkit-datetime-edit-month-field {color: var(--color-g1)}
::-webkit-datetime-edit-day-field { color: var(--color-g1)}
::-webkit-datetime-edit-year-field { color: var(--color-g1)}
/* ::-webkit-inner-spin-button { display: none; } */

.sub-filter {
  background-color: var(--color-o);
  color: var(--color-w);
  width: 120px;
  text-align: center;
  font-size: 1.1rem
}

.sub-filter:hover {
  color: var(--color-o);
  border: 1px solid var(--color-o);
  background-color: transparent;
  transition: all 1s ease-in-out;
}

.color-1 {
  width: 20%;
  height: 1px;
  background-color: var(--color-o);
}
.color-2 {
  width: 80%;
  height: 1px;
  background-color: #ddd;
}




.spons {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 25465465;
  background-color: var(--color-o);
  padding: 0.1rem 0.5rem;
  color: var(--color-w);
}

.bg-rings {
  background-image: url('../img/backegraound.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.container-width {
  width: 70%;
  margin: auto;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< start login page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.bg-login {
  background: linear-gradient(rgba(0, 0, 0, 0.242),rgba(0, 0, 0, 0.116)),url('../img/excited-audience-watching-confetti-fireworks-having-fun-music-festival-night-copy-space.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5rem;
}

.login-box {
  background-color: var(--color-w);
  padding: 3rem;
  border-radius: 10px;
}

/* .com {
  color: var(--black);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bolder;
} */

.login-box form input{
  font-family: 'Source Sans Pro', sans-serif;
}

.span-form {
  width: 0.8rem;
  background-color: var(--color-o);
  height: 3.6rem;
  position: absolute;
}

.login-form:focus,
.login-form2:focus {
  border-color: var(--color-o) ;
}

.form-login-color {
  color: rgba(128, 128, 128, 0.784);
  font-size: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.form-login-color:hover {
  color: var(--color-o)
}

.login-btn {
  background-color: var(--color-g1);
  color: var(--color-w);
  font-family: 'Source Sans Pro', sans-serif;
}

.login-btn:hover {
  background-color: var(--color-g1);
  color: var(--color-w)
}

.sign-btn {
  background-color: var(--color-o);
  color: var(--color-w);
  font-family: 'Source Sans Pro', sans-serif;
}

.sign-btn:hover {
  background-color: var(--color-g1);
  color: var(--color-w)
}

.or-line {
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.784);
}

.another-way-to-login .span2 {
  color: rgba(128, 128, 128, 0.784);
  font-size: 0.9rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.another-way-to-login .border-link {
  border: 2px solid #1369FA;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 5px;
}

.another-way-to-login .border-link img {
  height: 100%;
}

.another-way-to-login .border-link2 {
  border: 2px solid #FB0072;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 5px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< start sign up page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.form-register div input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1rem;
  padding-left: 45px;
  background-color: transparent;
}


.form-register div select {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1rem;
  padding-left: 45px;
  background-color: transparent;
}
.sign-form {
  width: 30px;
  height: 30px;
  background-color: var(--color-o);
  border-radius: 50%;
  text-align: center;
  padding: 3px 0 0 0;
  top: 1rem
}

.sign-form i{
  color: var(--color-w);
  display: inline-block;
  font-size: 1rem;

}

.register-btttn {
  color: var(--color-w);
  background-color: var(--color-o);
  border-radius: 20px;
  padding: 12px 30px;
}

.register-btttn:hover {
  color: var(--color-w);
}

.login-signuppp {
  text-decoration: underline;
  color: var(--color-o);
  text-transform: capitalize;
}
.or-line2 {
  width: 33%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< start cart page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.bg-caartt {
  background-color: var(--color-w);
  border: 1px solid #ddd;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

}

.cart-icon {
  color: var(--color-o);
}

.remove-cart {
  color: var(--color-o);
  text-decoration: underline;
  text-transform: capitalize;
}

.remove-cart:hover {
  color: var(--color-o);
  font-size: 1rem;
}

.cart-img {
  width: 90%;
  height: 90px;
  border-radius: 10px;
  margin: auto;
}

.cart-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.cart-name {
  font-size: 1.2rem;
  color: var(--black);
  text-transform: capitalize;
  line-height: 20px;
}

.gray-cart {
  color: var(--color-g3);
  font-size: 0.8rem;
  text-transform: capitalize;
}

.cart-icon2 {
  color: var(--color-o);
  margin-left: 1rem;
}

.gray-line {
  width: 100%;
  height: 0.5px;
  background-color: var(--color-g3);
}

.color-g {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: var(--color-g1);
}

.conf-btn {
  background-color: var(--black);
  color: var(--color-w);
  margin-bottom: 2rem;
  text-transform: capitalize;
  width: 100%;
  font-size: 0.9rem;
}

.conf-btn:hover {
  color: var(--color-w);
  background-color: var(--color-o);
}

.cart-input1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cart-input1 input {
  border: 1px solid rgba(128, 128, 128, 0.526);
  outline: var(--color-o);
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  text-transform: capitalize;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 80%;
  padding: 0.4rem 10px;
}
.cart-input1 button {
  border: 1px solid var(--color-o);
  outline: none;
  color: #fff;
  background-color: var(--color-o);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-size: 12px;
  text-transform: capitalize;
  width: 20%;
}
.cart-input1 button:hover {
  border: 1px solid var(--color-g1);
  background-color: var(--color-g1);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< start booking page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.table {
  font-family: 'Source Sans Pro', sans-serif;

}
.table-bordered>:not(caption)>*>* {
  text-align: center;
  color: var(--black);
  text-transform: capitalize;
  font-size: 1rem;
  padding: 1rem;
  align-items: center;
}

.table>:not(:last-child)>:last-child>*  {
  font-weight: bolder;
}

.table>thead ,
.table>tbody {
  vertical-align: middle;
}

.table tbody tr td .index-color {
  color: var(--color-o)!important;
  font-weight: bolder;
  font-size: 1.2rem;
}

.trash {
  color: var(--color-o);
  font-weight: bolder;
  font-size: 1.3rem;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< start services page 1 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.box-prov {
  text-align: center;
}

.box-prov h4 {
  font-size: 1.3rem;
  font-family: 'Itim', cursive;
  margin-top: 0.5rem;
}

.now-booking {
  background-color: var(--color-o);
  padding: 5px 8px;
  border-radius: 8px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ser {
  width: 100%;
  /* height: 30vh; */
  background: linear-gradient(rgba(0, 0, 0, 0.825),rgba(0, 0, 0, 0.742)),url('../img/wedding-g40cbdca04_1920.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column-reverse;
  padding: 3rem;
  color: var(--color-w);
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-geader-orang {
  background-color: var(--color-g1);
  width: 100%;
  height: 30px;
}

.provider-info {
  margin-left: 4rem;
}

.book {
  margin-right: 4rem;
}

.provider-imgg {
  width: 140px;
  height: 140px;
  margin: auto;
  border: 2px solid var(--color-o);
  border-radius: 50%;
  padding: 5px;
  overflow: hidden;
}

.provider-imgg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.p-name {
  line-height: 10px;
  word-wrap: break-word;
  color: var(--color-g3);
  font-size: 1rem;
}

.rating-item i {
  font-size: 14px;
  line-height: 10px;
}

.gold {
  color: #f9c32c;
}

.heartt i {
  color: rgb(209, 5, 5);
}

.book {
  display: flex;
  justify-content: flex-end;
}

.book a {
  color: #fff;
  background-color: #1C1C1C;
  text-transform: capitalize;
  padding: 3px 5px;
}
/* reviews */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fafafa; */
}

.containerr {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 40px 0px;
}

.title h2 {
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.review {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  font-family: "Open Sans", sans-serif;
}

#person-img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}

#author {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 10px;
}

#job {
  text-transform: uppercase;
  line-height: 150%;
  margin-bottom: 10px;
  color: var(--color-o);
  font-family: 'Poppins', sans-serif;
}

#info {
  font-size: 18px;
  color: #454545;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.btttn {
  text-decoration: none;
  border-style: none;
  background-color: #fff;
  font-size: 30px;
  margin: 0 10px 30px 10px;
  color: var(--color-o);
  cursor: pointer;
}

.bg-hhh {
  background: linear-gradient(90deg,#e9f2fd 0%, #fbeef9 80%);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< services page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.gray {
  color: var(--color-g1);
  font-family: 'Source Sans Pro', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.wall {
  width: 100%;
  height: 150px;
}

.wall img {
  width: 100%;
  height: 100%;
}

.ig-box div img {
  width: 100%;
}
.ig-view {
  position: relative;
}
.ig-view img {
  width: 100%;
}
.ig-view .right {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(250, 250, 250, 0.7);
  right: 0px;
  bottom: -4px;
  color: #000;
  font-weight: bolder;
}
/* <<<<<<<<<<<<<<<<<<<<<< about us page >>>>>>>>>>>>>>>>>>>> */

.section1 {
  
  background: linear-gradient(90deg,#e9f2fd 0%, #ffeefc 80%);
  padding-bottom: 10%;
}

.ss  {
  height: 100%;
  padding: 2em 0;
}


.titleee {
  text-align: center;
  font-size: 2em;
}

.content-wrapper {
  padding-bottom: 6rem;
}

.imgi {
  width: 100%;
  border: 3px solid #fff;
}

.imgi img {
  width: 100%;
  height: 100%;
}

.texte {
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}

.btn-wrapper {
  margin-top: 2em;
}

.bt {
  display: inline-block;
  cursor: pointer;
  border: 2px solid var(--color-o);
  padding: 0.3em 1em;
  font-size: 1.1em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  color: var(--color-o)
}

.bt:hover {
  background-color: transparent;
  color: #fff;
  background-color: var(--color-o);
}

/********* start contact us **************************/

#content {
  position: relative;
  background-color: #FFF;
}

.content-wrap {
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}

#content .container {
  position: relative;
}

.fancy-title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  font-family: 'El Messiri', sans-serif;
}

.button-c {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin: 5px;
  padding: 5px 22px;
  font-size: 0.875rem;
  line-height: 24px;
  background-color: var(--color-o);
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 7px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  margin-top: 39px!important;
  font-family: "Open Sans", sans-serif;

}
.sm-form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 14px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #DDD;
  border-radius: 7px !important;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
  outline-color: var(--color-o);
}
.mtop {
  margin-top: 60px;
}
.fbox-bg.fbox-center {
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0 2rem 2rem;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.fbox-icon {
  width: 5.5rem;
  height: 4rem;
  padding: 0 0.75rem;
}
.fbox-center .fbox-icon {
  margin-bottom: 1.5rem;

}

/* .icon {
  margin-top: -2rem;
} */

.fbox-content {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 0.75rem;
  width: 100%;
  text-align: center;
}

.fbox-content h3 {
  font-size: 0.9rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #333;
}
.fbox-content h3 span.subtitle {
  display: block;
  margin-top: 5px;
  color: #444;
  font-weight: 300;
  text-transform: none;
}

.fancy-title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}
.fancy-title::before {
  display: none;
  margin-right: 0.75rem;
}
.fancy-title::before, .fancy-title::after {
  content: '';
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  height: 0;
  border-top: 1px solid #E5E5E5;
  /* margin-top: -30px; */
  margin-left: 15px;
}
.form-group {
  margin-bottom: 1rem;
}
textarea {
  resize: vertical;
  height: 100% !important;
}
.fbox-icon {
  width: 100%;
  text-align: center;
  margin-top: -20px;
  height: 4rem;
  padding: 0 0.75rem;
}
.fbox-center .fbox-icon {
  margin-bottom: 1.5rem;
  background-color: #fff;
}
.fbox-plain .fbox-icon i {
  font-size: 3rem;
  line-height: 1;
}
.fbox-icon a, .fbox-icon i, .fbox-icon img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #FFF;
}
.fbox-plain .fbox-icon i, .fbox-plain .fbox-icon img {
  border: none;
  background-color: transparent !important;
  color: var(--color-o);
  border-radius: 0;
}

.form-group label{
  color: var(--color-g1);
  margin-bottom: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

}
/***************** end contact us **************** */









/* <<<<<<<<<<<<<<< RESPONSIVE >>>>>>>>>>>>>>> */
/* <<<<< Mobile >>>>> */

@media (max-width: 768px) {
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< START HOME PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* <<<<< this is nav bar >>>>>*/


  .nav-logo {
  padding: 0.3rem 0;
  }
  
  .navbar-brand img {
    width: 100px;
  }

  .mobile-none {
    display: none !important;
  }
  
  .nav-search {
    height: 30px;
    font-size: 0.8rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }
  
  .nav-icon-search {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1rem;
  }

  .nav-icon-search i {
    font-size: 0.8rem;
  }

  .btn-lang {
    font-size: 0.6rem;
    padding: 5px;
  }
 
  .nav-box {
    justify-content: flex-start;
  }

  .flex-nav-mobile {
    display: flex !important;
  }

  .pc-none {
    display: block;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-toggler i {
    color: var(--color-o);
  }


  .nav-iconss {
    margin-left: 0;
  }

  .shopping, .bell, .heart {
    margin-right: 1rem;
  }

  .nav-bar-mobile {
    top: -3.7rem;
    background-color: var(--color-w);
  }

  .navbar-nav .nav-item .nav-link ,
  .navbar-nav .nav-item .nav-drop-down {
    border-bottom: 1px solid #ddd;
  }

  .navbar-nav .nav-item .nav-drop-down {
    margin-left: 0 !important;
  }

  .navbar-nav .nav-item .nav-link:hover::after ,
  .navbar-nav .nav-item .nav-drop-down:hover::after {
  visibility: hidden;
  }

  .become-provider {
    margin: auto !important;
    margin-top: 1rem !important;
  }

  .provider {
    background-color: var(--black);
    color: var(--color-w) !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    cursor: pointer;
    margin: auto;
    text-align: center;


  }

  .register {
    margin-left: 0;
    text-align: center;
    margin: auto;
  }

  .border-none {
    border: none !important;
  }

  /* <<<<<<<<<< this is slider >>>>>>>*/

  /* عدلت هنا */

  .heading{
  padding-left: 4rem;
  padding-top: 8rem;
}
.swiper-pagination {
  padding-left: 4rem;
  padding-bottom: 0.5rem;
}
  /*<<<<<<<< this is evente >>>>>>>*/
  .owl-carousel-p {
    padding: 0;
  }
  /*<<<<<<<< end evente >>>>>>>*/

  /* <<<<< start recomended for you >>>>> */ 
  .owl-carousel {
    padding: 0.5rem;
  } 
  .reco-content {
    width: 50%;
  }.num-size {
    font-size: 1.5rem;
  }
  
  .text-size {
    font-size: 1.5rem;
  }
  
  .text2-size {
    font-size: 1.5rem;
  }

  /*<<<<<<<<<<< start provider >>>>>>>>>*/
  .top {
      background-image: none
 
  }
  .d-mobile-none {
    display: none;
  }

  .parent-box {
    transform: translatex(0);
  }

  .trans-topp {
  transform: translateY(0);
}

/* عدلت هنا */
/* start serv*/


  /* <<<<<<<<<<<< start footer >>>>>>>>> */
  footer {
    /* margin-top: 1rem; */
    padding: 1rem 1rem 1rem 1rem;
  }
  .m-top-sm {
    margin-top: 2rem;
  }

  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< login page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .bg-login {
      padding: 1rem;
}

.login-box {
  padding: 1rem;
}

  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< start cart page >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  .mobile-cartt {
    justify-content: end;
  }

  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< start booking >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .cart-img {
    width: 100%;
    height: 60px;
  }

  /* filter */

  .font-mob {
    font-size: 1.3rem;
  }
  .center-mob-filter {
    justify-content: center;
  }

  .filter-btn {
    width: 90px;
    font-size: 0.6rem !important;
  }

  .drop-filter {
  width: 90px;
  font-size: 0.9rem !important;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

  .sub-filter {
  width: 80px;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}

}

/* <<<<<< Small Screens >>>>>> */

@media (min-width: 768px) and (max-width: 991px) {
 
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< START HOME PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* <<<<< this is nav bar >>>>>*/

  .nav-logo {
    padding: 0.3rem 0;
    }
    
    .navbar-brand img {
      width: 100px;
    }
  
    .mobile-none {
      display: none !important;
    }
    
    .nav-search {
      height: 30px;
      font-size: 0.8rem;
      padding-right: 1rem;
    }
    
    .nav-icon-search {
      height: 30px;
      padding-left: 10px;
      padding-right: 10px
    }
  
    .nav-icon-search i {
      font-size: 0.8rem;
    }
  
    .btn-lang {
      font-size: 0.6rem;
      padding: 5px;
    }
   
    .nav-box {
      justify-content: flex-start;
    }
  
    .flex-nav-mobile {
      display: flex !important;
    }
  
    .pc-none {
      display: block;
    }
  
    .navbar-brand {
      margin-right: 0;
    }
  
    .navbar-toggler i {
      color: var(--color-o);
    }
  
  
    .nav-iconss {
      margin-left: 0;
    }
  
    .shopping, .bell, .heart {
      margin-right: 1rem;
    }
  
    .nav-bar-mobile {
      top: -3.7rem;
      background-color: var(--color-w);
    }
  
    .navbar-nav .nav-item .nav-link ,
    .navbar-nav .nav-item .nav-drop-down {
      border-bottom: 1px solid #ddd;
    }
  
    .navbar-nav .nav-item .nav-drop-down {
      margin-left: 0 !important;
    }
  
    .navbar-nav .nav-item .nav-link:hover::after ,
    .navbar-nav .nav-item .nav-drop-down:hover::after {
    visibility: hidden;
    }
  
    .become-provider {
      margin: auto !important;
      margin-top: 1rem !important;
    }
  
    .provider {
      background-color: var(--black);
      color: var(--color-w) !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      cursor: pointer;
      margin: auto;
      text-align: center;
  
  
    }
  
    .register {
      margin-left: 0;
      text-align: center;
      margin: auto;
    }
  
    .border-none {
      border: none !important;
    }

     /*<<<<<<<< this is evente >>>>>>>*/
  .owl-carousel-p {
    padding: 0;
  }
  /*<<<<<<<< end evente >>>>>>>*/
   /* <<<<< start recomended for you >>>>> */ 
  .reco-content {
    width: 60%;
  }
/* <<<<<<<<<<<<<<< top provider >>>>>>>>>> */
  .parent-box {
    transform: translatex(0);
  }

  .tab-m {
    margin: auto;
  }
  /* <<<<<<<<<< footer >>>>>>>>>>>> */
  .footer-search {
  font-size: 0.7rem;
}

.footer-icon-search {
  font-size: 0.7rem;
}

/* filter */
  .bg-filter {
    background: linear-gradient(90deg,#e9f2fd 0%, #fbeef9 80%);
    padding-top: 5rem;
    padding-bottom: 3rem;
  }  

   .center-mob-filter {
    justify-content: flex-start;
  }

  .filter-btn {
    width: 90px;
    font-size: 0.6rem !important;
    padding: 10px;
  }

  .drop-filter {
  width: 100px;
  font-size: 0.9rem !important;
  margin-bottom: 0;
  margin-top: 0;
}

  .sub-filter {
  width: 75px;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

 
  
}

/* <<<<<< Medium Screens >>>>>> */

@media (min-width: 992px) {
   /*<<<<<<<< this is evente >>>>>>>*/
   .owl-carousel-p {
    padding: 0;
  }
  /*<<<<<<<< end evente >>>>>>>*/

  .parent-box {
    width: 100%;
  }
  /* <<<<<< start top provider >>>>>*/

  .user-link {
    font-size: 0.7rem;
  }
  .link-a {
    font-size: 0.7rem;
  }




}

/* <<<<<< Large Screens >>>>>> */

@media (min-width: 1200px) {

   /*<<<<<<<< this is evente >>>>>>>*/
   .owl-carousel-p {
    padding: 1rem 15rem 0 15rem;
  }
  /*<<<<<<<< end evente >>>>>>>*/
  /* <<<<<< start top provider >>>>>*/

  .user-link {
    font-size: 0.9rem;
  }
  .link-a {
    font-size: 0.9rem;
  }


}

/* <<<<<< Custom >>>>>>*/

@media (max-width: 1199px) {
}


